<script src="/tv.js">
</script>

<script>
setup_sockets('{{tv_id}}');
</script>

<style>
.myframe{
  position:fixed;
  width: 100%;
  height: 100%;
  frameborder: '0';
  allowfullscreen;
}

.img{
  width: 100%;
  height: 100%;
}
#content{
  position:fixed;
  width: 100%;
  height: 100%; 
}
</style>
<div id="content"></div>